extends layout

block content
	.jumbotron
		.container
			h1 How may i help you?
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula dapibus nibh, vitae viverra leo porta eu. Pellentesque porta libero semper leo suscipit, at scelerisque mauris ultricies. Vivamus posuere neque luctus tortor laoreet cursus. Integer ultricies tortor in metus malesuada porta. Fusce suscipit aliquet dignissim. Etiam porta fermentum porttitor. Cras sollicitudin purus eu quam luctus lobortis.
			a.btn.btn-primary.btn-lg(href='#') Learn more &requo;
	.container
		.row
			.col-md-4
				h2 About us
				p Nulla sem erat, cursus sed molestie ut, ultricies scelerisque quam. Morbi id ipsum sit amet dui rhoncus auctor ac nec nibh. Cras rhoncus tempor nisi et laoreet. In porta erat et varius cursus. Sed mauris erat, venenatis ut tellus vel, aliquam rhoncus sapien. Proin fermentum leo ut velit volutpat, id gravida lacus tincidunt. Aenean scelerisque velit vitae augue sollicitudin, eu maximus magna pulvinar. Aenean a metus in purus dignissim aliquet.
				a.btn.btn-default(href='#') View details
			.col-md-4
				h2 Services
				p Nulla sem erat, cursus sed molestie ut, ultricies scelerisque quam. Morbi id ipsum sit amet dui rhoncus auctor ac nec nibh. Cras rhoncus tempor nisi et laoreet. In porta erat et varius cursus. Sed mauris erat, venenatis ut tellus vel, aliquam rhoncus sapien. Proin fermentum leo ut velit volutpat, id gravida lacus tincidunt. Aenean scelerisque velit vitae augue sollicitudin, eu maximus magna pulvinar. Aenean a metus in purus dignissim aliquet.
				a.btn.btn-default(href='#') View details
			.col-md-4
				h2 Get in touch
				p Nulla sem erat, cursus sed molestie ut, ultricies scelerisque quam. Morbi id ipsum sit amet dui rhoncus auctor ac nec nibh. Cras rhoncus tempor nisi et laoreet. In porta erat et varius cursus. Sed mauris erat, venenatis ut tellus vel, aliquam rhoncus sapien. Proin fermentum leo ut velit volutpat, id gravida lacus tincidunt. Aenean scelerisque velit vitae augue sollicitudin, eu maximus magna pulvinar. Aenean a metus in purus dignissim aliquet.
				a.btn.btn-default(href='#') View details
